@use '@angular/material' as mat;

$my-primary: mat.define-palette((
  50: #e1e7f3,
  100: #b3c2e1,
  200: #8099cc,
  300: #4d70b7,
  400: #264fa8,
  500: #0033a1, 
  600: #002e91,
  700: #002880,
  800: #002270,
  900: #001656,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
));

$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.core();
@include mat.all-component-themes($my-theme);


html, body { height: 100%; background-color: #f4f5f7; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
