<ng-container *ngIf="profile">
  <div>
    <app-profile-card [profile]="profile" (imageChanged)="onImageImageChange($event)"></app-profile-card>
    <button (click)="openAddDialog()" style="margin: 0% 27.5%;" class="create-profile" mat-flat-button
      color="primary">Create Profile</button>
  </div>
  <div class="pagination">
    <button mat-button (click)="first()">First</button>
    <button mat-button (click)="prev()">Previous</button>
    <button mat-button (click)="next()">Next</button>
    <button mat-button (click)="last()">Last</button>
  </div>
</ng-container>
<div *ngIf="!profile">Empty Address Book, Add Contacts</div>